#label-opciones-principal{
	-fx-text-fill: rgb(255.0,255.0,255.0);

	-fx-font-size: 25.0;
	-fx-pref-height: 50.0;
	-fx-alignment: center;
	-fx-max-width: 100000.0;
	-fx-font-weight: bold;
}
#tabpane {
}
#label-opciones-principal:hover {
	-fx-background-color: rgb(0.0,0.0,0.0,0.2)
}

#label-opciones-principal:pressed {
	-fx-background-color: rgb(0.0,0.0,0.0,0.3);
}

#vbox-principal {
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 0.0% 120.0%,
		#5b87ee 50.0%,
		black 100.0%
	);
	-fx-border-width: 10.0px;
	-fx-border-style: solid inside;
	-fx-border-color: rgb(0.0,0.0,0.0,0.2);

	-fx-pref-width: 250.0;
}
#btn-inferior {
	-fx-max-width: 100000.0;
	-fx-alignment: center;
	-fx-background-color: red;
}
#header{
	-fx-alignment: center;
	-fx-pref-height: 200.0;
}
#lbl-error {
	-fx-background-color: red;
}
#centered-box {
	-fx-alignment: center;
}
#boton-opcion {
	-fx-ellipsis-string: "";
	-fx-alignment: center;
	-fx-font-size: 25.0;
	-fx-background-color: red;
	-fx-font-weight: bold;
	-fx-pref-height: 40.0;
	-fx-pref-width: 300.0;
	-fx-arc-width: 3.0;
	-fx-fit-to-width: true;
}